html {
height: 100%
}

body {
  font: 15px/1.5 'Trebuchet MS';
  padding: 0;
  margin: 0;
  height: 100%
}

/* Global */
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* Header */
header{
  background: #57150B;
  padding-top: 2em;
  min-height: 2em;
  border-bottom: #FFCC00 3px solid;
  position: relative;
}

header #branding h1 {
  float: left;
  text-align: center;
  margin-top: 0.5em;
  color: #FFCC00;
  font: bold 2em 'Palatino Linotype';
}

header #branding img {
  float: left;
  width: 5em;
  filter: brightness(0.6) sepia(1) hue-rotate(-2deg) contrast(1.5) saturate(3);
}

header nav {
  float: right;
  padding-top: 1.5em;
}

.navbutton {
  background: #FFCC00;
  border: none;
  border-radius: 0.5em;
  padding: 0.2em 0.5em;
  text-align: center;
  font-size: 2em;
}

/* Sidenav */

.sidenav {

  width: 0;
  right: Max;
  z-index: 1;
  top: 0;
  background-color: #e2e2e2;
  overflow-x: hidden;
  transition: 0.5s;
  float:right;
  height: inherit;
  position: absolute;
  right: 0px;
}


.sidenav a, .dropdown {
  padding: 0.3em 0.3em 0.3em 1.4em;
  text-decoration: none;
  font-size: 2em;
  color: #818181;
  background-color: none;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

.sidenav a:hover {
  color: #2a2a2a;
}

.sidenav .closebtn {

  top: 0;
  right: 0.5em;
  font-size: 2em;

}

.closebtn {
  float: right;
  margin-bottom: auto;
}


.active {
  background-color: rgba(0,0,0,0.1);
}

.ddmenu {
  background-color: rgba(0,0,0,0.1);
  padding-left: 8px;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/*drop down menu style for side nav */

.accordionMenu, .MenuItem {
  background-color: #e2e2e2; /* #2a2a2a  eee*/
  color: #444;
  cursor: pointer;
  font: 15px/1.5 'Trebuchet MS';
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}


.active, .accordionMenu:hover {
  color: #818181;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  background-color: rgba(0,0,0,0.1);
  padding-left: 8px;
}

/* Tables */
#table {
  align-items: center;
  display: flex;
  justify-content: center;
}

#rtrndata {
  border-collapse: collapse;
  border-bottom: 1px solid black;
  text-align: center;
  font-size: 1em;
  font-family: 'Trebuchet MS';
}

#rtrndata th {
  background-color: #EEBB00;
  color: #57150B;
  padding: 1em;
}

#rtrndata td {
  padding: 1em;
}

#rtrndata tr:nth-child(even) {
  background-color: #f0f0f0;
}

#rtrndata tr:hover {
  background-color: #EEEEEE;
}

/* Form Table + Buttons */
input[type=text] {
  -webkit-transition: border-bottom 0.6s linear;
  transition: border-bottom 0.6s linear;
  border: none;
  border-bottom: 2px solid #57150B;
  width: 100%;
  font-family: 'Trebuchet MS';
  font-size: 1em;
}

input[type=text]:focus {
  border-bottom: 2px solid #FFCC00;
}

#form td{
  padding: 5px;
  font-family: 'Trebuchet MS';
  font-size: 1.25em;
  text-align: center;
  width: 40%
}

#buttons {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.button {
  -webkit-transition: box-shadow 0.6s ease-in-out;
  transition: box-shadow 0.6s ease-in-out;
  box-shadow: none;
  background-color: #FFCC00;
  border: none;
  border-radius: 5px;
  font-family: 'Trebuchet MS';
  font-size: 1.6em;
  color: #57150B;
  padding: 16px 32px;
  margin: 4px 4px;
}
