[submodule "resource-website-backend"]
	path = backend/webdev_lib
	url = git@github.com:A-Team-Rowan-University/resource-website-backend.git
[submodule "resource-website-frontend"]
	path = frontend/www
	url = git@github.com:A-Team-Rowan-University/resource-website-frontend.git
