[submodule "resource-website-backend"]
	path = backend/webdev_lib
	url = git@github.com:A-Team-Rowan-University/resource-website-backend.git
[submodule "frontend/elm-src"]
	path = frontend/elm-src
	url = git@github.com:A-Team-Rowan-University/resource-website-frontend.git
