*{
  font-family:Roboto;
}
h1,h2,h3,h4,h5,h6 {
  font-family:Oswald;
}
th, tr {
  width = 50px;
}
.pagename {
  background-color:#550000;
  color:#FFCC00;
  padding-top:0px;
  margin-top:0px;
  text-align:center;
}

.header {
  background-color: #333;
  display:flex;
}
.headerText {
  display: flex;
  flex-direction:column;
  margin: 5px;
  padding: 5px;
  border: 5px;
}

.headerText .site {
  float: left;
  font-size: 24px;
  color: white;
  text-align: center;
  text-decoration: none;
}
.headerText .site:hover {
  color: #ffcf44;
}

.header a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding-right: 16px;
  padding-left: 16px;
  text-decoration: none;
}

.header a:hover{
  color: #ffcf44;
  border-color:#ffcf44;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 10px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.header .dropdown:hover .dropbtn {
  color: #ffcf44;
  cursor:pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ddd;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.header .dropdown-content a:hover {
  background-color: #ffcf44;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.arrow_down {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg) translate(0px,-5px);
  -webkit-transform: rotate(45deg) translate(0px,-5px);

  border-color: white;
}
.arrow_down: hover {
  border-color:#ffcf44;
}
#logo {
  height: 100px;
  display: inline-block;
  position: relative;
  float:left;  
  cursor:pointer;
}
#logo .logo {
  height = 100px;
  top:0;
  left:0;
  display: none;
  position: absolute;
  z-index: 99;
}
#logo:hover .logo{
  display: inline;
}